html,
body {
  height: 100%
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-flude{
  height: 450px;
  width: 100%;
}
.emoji{
  font-size: 40px;
  color: red;
}